<article class="question">
  <% @show_answers = 3 %>
  <% @show_answers = 100 if defined?(show_all) %>
  <h1 class="placeholder"><%= link_to @question.entry, question_show_path(@question) %></h1>
  <ul class="answers">
  <% @answers = @question.answers.sort_by{ |answer| answer.votes.count }.reverse.take(@show_answers) %>
    <% if  @answers.count < 1 %>
      <span class="lite">No answers yet.</span>
    <% end %>
    <% @answers.each do |answer| %>
      <li>
        <a href="<%= vote_cast_path(answer.id) %>" data-method="post">
          <div class="counter <%= "answered" if current_account.voted_on?(answer) %>"><%= answer.votes.count %></div>
          <% entry = answer.entry %>
          <div class="answer-entry"><%= entry.slice(0, 30) %><%= "..." if entry.size > 30 %></div>
        </a><%= link_to "| Delete", answer_delete_path(answer), method: :delete if can? :destroy, answer %>
      </li>
    <% end %>
    <li class="suggest-answer">
      <%= link_to "Suggest an Answer...", question_show_path(@question) %>
    </li>
  </ul>
</article>
