<article class="question">
  <h1 class="placeholder"><%= link_to @question.entry, question_show_path(@question) %></h1>
  <section class="tags">
    <ul>
      <% @question.tags.take(3).each do |tag| %>
        <li><%= link_to tag.name, gravity_path(tag.name) %></li>
      <% end %>
    </ul>
  </section>
  <ul class="answers">
  <% @answers = @question.answers.sort_by{ |answer| answer.votes.count }.reverse.take(5) %>
    <% if  @answers.count < 1 %>
      <span class="lite">No answers yet.</span>
    <% end %>
    <% @answers.each do |answer| %>
      <li>
        <a href="<%= vote_cast_path(answer.id) %>" data-method="post">
          <div class="counter <%= "answered" if current_account.voted_on?(answer) %>"><%= answer.votes.count %></div>
          <% entry = answer.entry %>
          <div class="answer-entry"><%= entry %></div>
        </a>
      </li>
    <% end %>
    <li class="suggest-answer">
      <%= link_to "View Question", question_show_path(@question) %> &middot;
      <%= link_to "Suggest an Answer...", question_show_path(@question) %>
    </li>
  </ul>
</article>
