<section class="feed-question-new">
  <%= form_for @question, :url => question_ask_path do |f| %>
    <% if @question.errors.any? %>
      <div>
        <ul>
          <% @question.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <% if defined? question_group %>
        <% placeholder = "Ask #{ question_group.name } something..." %>
      <% else %>
        <% placeholder = "Ask anyone something..." %>
      <% end %>
      <%= f.text_area :entry, class: "feed-question-field", title: placeholder, placeholder: placeholder %>
    </div>
    <footer>
      <% if defined? question_group %>
        <%= f.hidden_field :group, value: question_group.id %>
      <% end %>
      <%= f.hidden_field :tags %>
      <div class="tag-bin"></div>
      <%= f.submit "Ask Question", class: "feed-question-submit" %>
      <div class="character-counter"></div>
    </footer>
  <% end %>
</section>
