<main class="show">
  <%= @question.account.name %>
<wrapper class="show-question">
  <%= render 'feed/question', :show_all => true %>
  <div>
    <% @question.tags.each do |tag| %>
      <%= tag %>
    <% end %>
  </div>
  <article class="question">
  <% @answer = @answer || Answer.new %>
  <%= form_for @answer, :url => answer_new_path(@question), :method => "post" do |f| %>
    <% if @answer.errors.any? %>
      <div>
        <ul>
          <% @answer.errors.full_messages.each do |msg| %>
             <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.text_field :entry, value: '', placeholder: "Suggest an Answer..." %>
    <%= f.submit "Submit Answer" %>
  <% end %>
    <%= link_to "Delete Question", 
    question_delete_path(@question), class:"del", 
    :method => "delete", 
    :data => {
      confirm: "You sure?" 
    } if can? :destroy, @question %>
  <%= form_tag feed_add_path do %>
    <%= hidden_field_tag :question_id, @question.id %>
    <%= submit_tag "Add to Feed" %>
  <% end %>
  </article>
</wrapper>
</main>