<button class="open-menu"><img src="/assets/open-menu.svg" alt="Menu"></button>
<nav class="menu">
  <button class="close-menu"><img src="/assets/close-menu.svg" alt="Close"></button>
  <ul>
    <li><%= link_to "Ask a Question", question_path %></li>
    <li><%= link_to "Trending", trending_path %></li>
    <li><%= link_to "Recent", recent_path %></li>
    <li><%= link_to "Communities", community_path %></li>
    <% if current_account.member? %>
    <li><%= link_to "My Feed", feed_path %></li>
    <% end %>
    <% if current_account.guest? %>
    <li><%= link_to "New Account", member_new_path %></li>
    <li><%= link_to "Login", session_login_path %></li>
    <% else %>
    <li><%= link_to "Panel", account_panel_path %></li>
    <li><%= link_to "Logout", session_logout_path, method: "post"  %></li>
    <% end %>
  </ul>
</nav>