<%= render 'feed/nav', :live => @group.id %>
<div class="show-group">
  <div class="group-question-form">
    <%= render 'question/form', :question_group => @group %>
  </div>
  <main class="group-questions">  
    <section class="feed-content">
      <%= render 'feed/questions'%>
    </section>
  </main>
  <aside class="group-details">
    <h1><%= @group.name %></h1>
    <% if @group.account_permission(current_account).invite %>
      <p>Invite anyone to <%= @group.name %></p>
      <input type="text" class="auto-highlight" value="<%= group_invite_url(@group.invite_code) %>">
    <% end %>
    <h2>Group Members</h2>
    <ul class="group-members">
      <% @group.accounts.each do |account| %>
        <li><%= account.display_name %></li>
      <% end %>
    </ul>
  </aside>
</div>