<%= render 'feed/nav', :live => @group.id %>
<div class="show-group">
  <main class="group-questions">  
    <%= render 'question/form', :question_group => @group %>
    <section class="feed-content">
      <%= render 'feed/questions'%>
    </section>
  </main>
  <aside class="group-details">
    <h1><%= @group.name %></h1>
    <p>This is a private group.</p>
    <h2>Group Members</h2>
    <ul class="group-members">
      <% @group.accounts.each do |account| %>
        <li><%= account.display_name %></li>
      <% end %>
      <% if @group.default_member_permission.invite %>
        <li>Share this group</li>
      <% end %>
    </ul>
  </aside>
</div>