<h1>New Account</h1>
<section class="new-member">
  <div class="member">
<%= form_for @member, url: member_create_path, method: "post" do |f| %>
  <% if @member.errors.any? %>
    <div class="errors">
      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="signup">
    <%= f.submit "Sign Up" %>
  </div>
  <div class=ease></div>
</div>
</section>
<% end %>
