<main class="panel">
  <h1>Feel at home, <strong ><%= @account.display_name %></strong></h1>
  <div class="panel-questions">
    <h2>Questions you've asked</h2>
    <%= render 'feed/questions' %>
  </div>
  <div class="panel-groups">
    <h2>Groups</h2>
    <%= link_to "Start a New Group", :group_new, class: "button" %>
    <h3>Group's you're in</h3>
    <ul>
      <% @account.groups.each do |group| %>
        <li><%= link_to group.name, group_show_path(group.id) %></li>
      <% end %>
    </ul>
    <div class="account-settings">
      <h3>Settings</h3>
      <%= form_for @account.settings, :url => :account_settings_update do |f| %>
        <label>
          <%= f.check_box :group_email_notifications %> Group email notifications
        </label>
        <div>
          <%= f.submit "Save Settings" %>
        </div>
      <% end %>
    </div>
  </div>
</main>