<main class="panel">
  <h1>How's it going, <%= @account.display_name %>?</h1>
  <% if !@account.guest? %>
    <%= link_to "Logout", session_logout_path, method: "post" %>
  <% else %>
   <%= link_to "Login", session_login_path %>
  <% end %>
  <h2>Groups you're in</h2>
  <ul>
    <% @account.groups.each do |group| %>
      <li><%= link_to group.name, group_show_path(group.id) %></li>
    <% end %>
  </ul>

  <h2>Questions you've asked</h2>
  <%= render 'feed/questions' %>
</main>