<!DOCTYPE html>
<html>
<%= render 'layout/head' %>
<body class="application-layout <%= yield (:body_class) %>">
<%= render 'layout/header'%>
<%= render 'layout/flash' %>
<%= render 'layout/nav' %>
<section class="body-content">
  <section class="body-content-container">
    <%= yield %>
  </section>
</section>
<%= render 'layout/footer' %>
</body>
</html>
