<!DOCTYPE html>
<html>
<head>
  <title>Asknow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="page-error">
  <% if defined? @page_errors %>
    <%= @page_errors %>
  <% end %>
</div>
<nav>
  <ul>
    <li><%= link_to "Ask a Question", question_path %></li>
    <li><%= link_to "Communities", community_path %></li>
    <li><%= link_to "Feed", feed_path %></li>
    <% if current_account.guest? %>
    <li><%= link_to "New Account", member_new_path %></li>
    <li><%= link_to "Login", session_login_path %></li>
    <% else %>
    <li><%= link_to "Panel", account_panel_path %></li>
    <li><%= link_to "Logout", session_logout_path, method: "post"  %></li>
    <% end %>
  </ul>
</nav>
<%= yield %>

</body>
</html>
