<!DOCTYPE html>
<html>
<head>
  <title>Asknow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="application-layout">
<% if flash.any? %>
  <ul class="page-notices">
    <% flash.each do |notice| %>
      <li clas="<%= notice[0] %>"><%= notice[1] %></li>
    <% end %>
  </ul>
<% end %>
<% if current_account.community %>
  <div><%= link_to current_account.community.name, community_path %></div>
<% else %>
  <div><%= link_to "Pick a Community", community_path %></div>
<% end %>

<%= render 'layout/nav' %>

<%= yield %>
</body>
</html>
