<!DOCTYPE html>
<html>
<head>
  <title>Asknow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash.any? %>
  <ul class="page-notices">
    <% flash.each do |notice| %>
      <li clas="<%= notice[0] %>"><%= notice[1] %></li>
    <% end %>
  </ul>
<% end %>
<% if current_account.community %>
  <div><%= link_to current_account.community.name, community_path %></div>
<% else %>
  <div><%= link_to "Pick a Community", community_path %></div>
<% end %>
<nav>
  <ul>
    <li><%= link_to "Ask a Question", question_path %></li>
    <li><%= link_to "Communities", community_path %></li>
    <li>Feeds</li>
    <li>
      <ul>
        <% if current_account.member? %>
        <li><%= link_to "My Feed", feed_path %></li>
        <% end %>
        <li><%= link_to "Recent", recent_path %></li>
        <li><%= link_to "Trending", trending_path %></li>
      </ul>
    </li>
    <% if current_account.guest? %>
    <li><%= link_to "New Account", member_new_path %></li>
    <li><%= link_to "Login", session_login_path %></li>
    <% else %>
    <li><%= link_to "Panel", account_panel_path %></li>
    <li><%= link_to "Logout", session_logout_path, method: "post"  %></li>
    <% end %>
  </ul>
</nav>

<%= yield %>

</body>
</html>
